body {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;             /* full screen height */
}
.container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}